---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: blackbox-exporter
spec:
  interval: 30m
  chart:
    spec:
      chart: prometheus-blackbox-exporter
      version: 9.0.1
      sourceRef:
        kind: HelmRepository
        name: prometheus-community
        namespace: observability
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    fullnameOverride: blackbox-exporter
    config:
      modules:
        http_2xx:
          prober: http
          timeout: 5s
          http:
            method: GET
            preferred_ip_protocol: "ip4"
            fail_if_ssl: false
            tls_config:
              insecure_skip_verify: false

        http_post_2xx:
          prober: http
          timeout: 5s
          http:
            method: POST
            headers:
              Content-Type: application/json
            body: '{}'
        icmp:
          prober: icmp
          timeout: 30s
          icmp:
            preferred_ip_protocol: ip4
    pspEnabled: false
    securityContext:
      capabilities:
        add: ["NET_RAW"]
    podSecurityContext:
      sysctls:
        - name: net.ipv4.ping_group_range
          value: "0 2147483647"
    serviceMonitor:
      enabled: true
      defaults:
        interval: 1m
      targets:
        - { name: &name avto-masini.mk, module: icmp, url: https://avto-masini.mk }
        - { name: &name cloudwithdan.com, module: http_2xx, url: https://cloudwithdan.com }
