---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app pihole
  namespace: pihole-system
spec:
  interval: 30m
  chart:
    spec:
      chart: pihole
      version: 2.35.0
      sourceRef:
        kind: HelmRepository
        name: mojo2600
        namespace: pihole-system
  values:
    DNS1: "dnscrypt-proxy#5053"

    doh:
      enabled: false
      repository: "crazymax/cloudflared"
      tag: latest
      pullPolicy: IfNotPresent
      envVars:
        TUNNEL_DNS_UPSTREAM: "https://9.9.9.9/dns-query"

    persistentVolumeClaim:
      enabled: true
      accessModes:
        - ReadWriteOnce
      size: "1Gi"
      storageClass: "longhorn"

    ingress:
      enabled: true
      ingressClassName: internal
      hosts:
        - "pihole.${SECRET_INTERNAL_DOMAIN}"

    extraEnvVars:
      FTLCONF_webserver_port: "80"
      FTLCONF_dns_dnssec: "true"
      FTLCONF_dns_interface: "eth0"
      FTLCONF_dns_listeningMode: "all"

    serviceWeb:
      loadBalancerIP: 10.0.10.200
      annotations:
        metallb.io/allow-shared-ip: pihole-svc
      type: LoadBalancer

    serviceDns:
      loadBalancerIP: 10.0.10.200
      annotations:
        metallb.io/allow-shared-ip: pihole-svc
      type: LoadBalancer

    replicaCount: 1
