---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app pihole
  namespace: pihole-system
spec:
  interval: 30m
  chart:
    spec:
      chart: pihole
      version: 2.35.0
      sourceRef:
        kind: HelmRepository
        name: mojo2600
        namespace: pihole-system
  values:
    DNS1:
      10.0.10.1
    DNS2:
      9.9.9.9
    persistentVolumeClaim:
      enabled: true
      accessModes:
        - ReadWriteOnce
      size: "1Gi"
      storageClass: "longhorn"
    ingress:
      enabled: false
      hosts:
        - "pihole.home"
    extraEnvVars:
          - name: FTLCONF_webserver_port
            value: "80"
          - name: FTLCONF_misc_etc_dnsmasq_d
            value: "true"
          - name: FTLCONF_dns_dnssec
            value: "true"
          - name: FTLCONF_dns_interface
            value: "eth0"
          - name: FTLCONF_dns_listeningMode
            value: "all"
          - name: FTLCONF_dns_upstreams
            value: "10.0.10.1,9.9.9.9"
    serviceWeb:
      loadBalancerIP: 10.0.10.200
      annotations:
        metallb.universe.tf/allow-shared-ip: pihole-svc
      type: LoadBalancer
    serviceDns:
      loadBalancerIP: 10.0.10.200
      annotations:
        metallb.universe.tf/allow-shared-ip: pihole-svc
      type: LoadBalancer
    replicaCount: 2
