apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: linkwarden
  name: linkwarden-deployment
  namespace: linkwarden
spec:
  replicas: 1
  selector:
    matchLabels:
      app: linkwarden
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: linkwarden
    spec:
      containers:
        - name: linkwarden
          image: ghcr.io/linkwarden/linkwarden:v2.13.5
          ports:
            - containerPort: 3000
              name: http
          imagePullPolicy: IfNotPresent
          env:
            - name: DATABASE_URL
              value: "${DATABASE_URL}"
            - name: NEXT_PUBLIC_AUTHENTIK_ENABLED
              value: "true"
            - name: NEXTAUTH_URL
              valueFrom:
                secretKeyRef:
                  name: linkwarden-secret
                  key: NEXTAUTH_URL
            - name: NEXTAUTH_SECRET
              valueFrom:
                secretKeyRef:
                  name: linkwarden-secret
                  key: NEXTAUTH_SECRET
            - name: AUTHENTIK_ISSUER
              valueFrom:
                secretKeyRef:
                  name: linkwarden-secret
                  key: AUTHENTIK_ISSUER
            - name: AUTHENTIK_CLIENT_ID
              valueFrom:
                secretKeyRef:
                  name: linkwarden-secret
                  key: AUTHENTIK_CLIENT_ID
            - name: AUTHENTIK_CLIENT_SECRET
              valueFrom:
                secretKeyRef:
                  name: linkwarden-secret
                  key: AUTHENTIK_CLIENT_SECRET
          volumeMounts:
            - mountPath: /pfs
              name: data
          resources:
            requests:
              cpu: 250m
              memory: 256Mi
            limits:
              memory: 4Gi
          livenessProbe:
            httpGet:
              path: /
              port: http
          readinessProbe:
            httpGet:
              path: /
              port: http
      volumes:
        - name: data
          persistentVolumeClaim:
            claimName: linkwarden
