apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: audiobooks
  namespace: audiobookshelf
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: longhorn
  resources:
    requests:
      storage: 50Gi