---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/source.toolkit.fluxcd.io/helmrepository_v1.json
apiVersion: source.toolkit.fluxcd.io/v1
kind: HelmRepository
metadata:
  name: audiobookshelf
  namespace: flux-system
spec:
  interval: 1h
  url: https://gitlab.com/api/v4/projects/57546317/packages/helm/release